@model ToLearningCloud.Infra.CrossCutting.Identity.ViewModels.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>

    @if (@ViewBag.Status < 0)
    {
        <p class="text-danger">
            <h4>@ViewBag.Message</h4>
        </p>

        if (Model != null && Model.CurrentLogins.Count > 0)
        {
            <p class="text-danger">
                A conta está associada ao(s) seguinte(s) provedores:
            </p>
            foreach (var account in Model.CurrentLogins)
            {
                <h3><span class="label label-default">@account.LoginProvider</span></h3>
            }
        }
    }
    else
    {
        <p>
            Por favor, verifique seu e-mail para trocar sua senha.
        </p>
        <p class="text-danger">
            <h4>@ViewBag.Message <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
        </p>
    }
</div>

